
body 
  background-color: grey
#mobile-nav a:hover 
  text-shadow: 1px 1px black
#mobile-image-container h1 
  font-family: 'Raleway', sans-serif;
  position: sticky
  // font-family: 'Playfair Display', serif;

#mobile-image-container
  background-image: url("../images/IMG_9042.jpg")
  height: 100vh